<link type="text/css" rel="stylesheet" href="~/Content/styles.css" />

<div class="main-page">
        <div class="main-page-link">@Html.ActionLink("Buldings", "Index", "Buildings", new { area = "" }, null)</div>
        <div class="main-page-link">@Html.ActionLink("Workers", "Index", "Workers", new { area = "" }, null)</div>
</div>
