<div class="main-page">
    <ul>
        <li>
            @Html.ActionLink("Buldings", "Index", "Buildings", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Workers", "Index", "Workers", new { area = "" }, null)
        </li>
    </ul>
</div>
